<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="">
  <title>Index</title>
</head>
<body>
  <h1>Budget Index</h1>

<a href="/budgtr/new">Create New Entry</a>

<hr>


 <% for(let i = 0; i < budgtr.length; i++){ %>
<a href="/budgtr/<%=i%>">
  <p>Date: <%= budgtr[i].date; %></p> 
  <p>Type: <%= budgtr[i].name %></p>
  <p>From: <%= budgtr[i].from %></p>
</a>
  <hr>
<% } %>
</a>
</body>
</html>